<a href="https://colab.research.google.com/github/sleiph/snippets/blob/main/distribuicao_frequencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Distribuição de frequências

In [ ]:
# o importante é importar
import numpy as np
import pandas as pd

import math

## Entrada de dados

In [ ]:
# dados
dados = [230, 232, 244, 245, 248, 249, 250, 255, 257, 260, 264, 271, 278, 280, 280,
         280, 281, 284, 289, 292, 292, 293, 294, 294, 296, 299, 299, 299, 302, 302,
         308, 309, 309, 310, 311, 312, 314, 315, 316, 318, 318, 320, 321, 324, 326,
         333, 335, 335, 337, 337, 339, 341, 342, 342, 342, 348, 356, 360, 365, 369]

# número de dados
n = len(dados)

In [ ]:
# organizando os dados em ordem crescente
dados_rol = pd.Series(
    sorted(dados),
    ## indexando os dados a partir de 1
    index=list( range(1, n+1))
)

# amplitude dos dados
Xmin = dados_rol.min()
Xmax = dados_rol.max()

## Cálculos de amplitude

In [ ]:
# definindo as amplitudes

## n de classes
k = int(math.sqrt(n))
### se tiver menor variação de dados que k, k = variação de dados
if len(set(dados)) < k:
  k = len(set(dados))

## Amplitude Amostral
AA = Xmax - Xmin
## Amplitude do intervalo
h = int(round(AA/k))

In [ ]:
# criando um array com os separadores das classes
limites = []
##  modos diferentes de definir as amplitudes
###limites = np.arange(Xmin, Xmax+1, h)
###limites = pd.cut(dados_rol, k, precision=0)

# criando um array com as amplitudes organizadas
ranges = []

# criando um array com a média de cada amplitude
xi = []

# gambiarrando
for r in range(Xmin, Xmax, h):
  limites.append(r)
  ranges.append([r, r+h-1])
  xi.append( int(round(r+(r+h-1)) /2) )

limites.append(Xmax+1)

## Criando as tabelas

In [ ]:
# criando a tabela de dados
df = pd.DataFrame(dados_rol)

# adicionando a coluna das classes na tabela de dados
df['classe'] = np.digitize(dados_rol, limites)

In [ ]:
# criando a tabela de frequências
tab = pd.DataFrame(df.groupby('classe'), columns=['classe', 'counts']).drop(columns=['counts'])
tab.set_index('classe', inplace=True)

## Populando a tabela de distribuição

In [ ]:
# adicionando os dados de amplitude
tabela = tab.assign(dist=ranges, xi=xi)

In [ ]:
# adicionando os dados de frequência
tabela['fi'] = df.groupby(df['classe']).count()

tabela['fri'] = (tabela['fi'] / n).round(4)
tabela['fri %'] = tabela['fri'] * 100
tabela['fac'] = tabela['fi'].cumsum()
tabela['frac'] = (tabela['fac'] / n).round(4)
tabela['frac %'] = tabela['frac'] * 100

In [ ]:
# GG
tabela

              dist   xi  fi     fri  fri %  fac    frac  frac %
classe
1       [230, 249]  239   6  0.1000  10.00    6  0.1000   10.00
2       [250, 269]  259   5  0.0833   8.33   11  0.1833   18.33
3       [270, 289]  279   8  0.1333  13.33   19  0.3167   31.67
4       [290, 309]  299  14  0.2333  23.33   33  0.5500   55.00
5       [310, 329]  319  12  0.2000  20.00   45  0.7500   75.00
6       [330, 349]  339  11  0.1833  18.33   56  0.9333   93.33
7       [350, 369]  359   4  0.0667   6.67   60  1.0000  100.00

## Perguntas

#### a)  Identifique a variável em estudo. É qualitativa ou quantitativa? É contínua ou discreta?

produção diária de calotas, quantitativa discreta

#### b) Calcule o número de classes (k)

In [ ]:
k

7

#### c) Calcule a Amplitude Amostral (AA)

In [ ]:
AA

139

#### d) Calcule a amplitude de classe (h)

In [ ]:
h

20

#### e) Preencha uma tabela com os valores de frequência, frequência relativa, frequência acumulada, frequência relativa acumulada

In [ ]:
tabela

              dist  fi   xi     fri  fri %  fac    frac  frac %
classe
1       [230, 249]   6  239  0.1000  10.00    6  0.1000   10.00
2       [250, 269]   5  259  0.0833   8.33   11  0.1833   18.33
3       [270, 289]   8  279  0.1333  13.33   19  0.3167   31.67
4       [290, 309]  14  299  0.2333  23.33   33  0.5500   55.00
5       [310, 329]  12  319  0.2000  20.00   45  0.7500   75.00
6       [330, 349]  11  339  0.1833  18.33   56  0.9333   93.33
7       [350, 369]   4  359  0.0667   6.67   60  1.0000  100.00

#### f) Qual classe contém o termo de maior frequência?

In [ ]:
tabela['fi'].idxmax()

4

#### g) Quais os limites (inferior e superior) da quinta classe?

In [ ]:
tabela['dist'][5]

[310, 329]