<a href="https://colab.research.google.com/github/sleiph/snippets/blob/main/distribuicao_frequencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Distribuição de frequências

In [1]:
# o importante é importar
import numpy as np
import pandas as pd

import math

## Entrada de dados

In [2]:
## exercicio 10
dados = [230, 232, 244, 245, 248, 249, 250, 255, 257, 260, 264, 271, 278, 280, 280,
         280, 281, 284, 289, 292, 292, 293, 294, 294, 296, 299, 299, 299, 302, 302,
         308, 309, 309, 310, 311, 312, 314, 315, 316, 318, 318, 320, 321, 324, 326,
         333, 335, 335, 337, 337, 339, 341, 342, 342, 342, 348, 356, 360, 365, 369]

# Quantas casas depois da vírgula serão exibidas
precisao = 4

## Cálculo de valores

In [3]:
# número de dados
n = len(dados)

# tipo dos dados
## isDiscreta = all(isinstance(x, int) for x in dados)

# organizando os dados em ordem crescente
dados_rol = pd.Series(
    sorted(dados),
    ## indexando os dados a partir de 1
    index=list( range(1, n+1))
)

# amplitude dos dados
Xmin = dados_rol.min()
Xmax = dados_rol.max()

## Cálculos de amplitude

In [4]:
# definindo as amplitudes

## n de classes
if n <= 50:
  k = math.sqrt(n)
else:
  k = int(round(math.log2(n))) + 1

### se tiver menor variação de dados que k, k = variação de dados
if len(set(dados)) < k:
  k = len(set(dados))

## Amplitude Amostral
AA = Xmax - Xmin

## Amplitude do intervalo
h = math.ceil(AA/k)

In [5]:
# criando um array com os separadores das classes
limites = []
##  modos diferentes de definir as amplitudes
### limites = np.arange(Xmin, Xmax+1, h)
### limites = pd.cut(dados_rol, k, precision=precisao)

# criando um array com as amplitudes organizadas
ranges = []

# criando um array com a média de cada amplitude
xi = []

In [6]:
# populando os arrays
for r in range(Xmin, Xmax, h):
  limites.append(r)
  ranges.append("{0} ⊢ {1}".format(r, r+h))
  xi.append( round( (r+(r+h))/2, precisao ) )

limites.append(Xmax+1)

## Criando as tabelas

In [7]:
# criando a tabela de dados
df = pd.DataFrame(dados_rol)

# adicionando a coluna das classes na tabela de dados
df['classe'] = np.digitize(dados_rol, limites)

In [8]:
# criando a tabela de frequências
tab = pd.DataFrame(
    df.groupby('classe'), columns=['classe', 'counts']
).drop(columns=['counts'])
tab.set_index('classe', inplace=True)

## Populando a tabela de distribuição

In [9]:
# adicionando os dados de amplitude
tabela = tab.assign(dist=ranges, xi=xi)

In [10]:
# adicionando os dados de frequência
tabela['fi'] = df.groupby(df['classe']).count()

tabela['fri'] = (tabela['fi'] / n).round(precisao)
tabela['fri %'] = tabela['fri'] * 100
tabela['fac'] = tabela['fi'].cumsum()
tabela['frac'] = (tabela['fac'] / n).round(precisao)
tabela['frac %'] = tabela['frac'] * 100

## Resultado

In [11]:
# GG
tabela

             dist     xi  fi     fri  fri %  fac    frac  frac %
classe
1       230 ⊢ 250  240.0   6  0.1000  10.00    6  0.1000   10.00
2       250 ⊢ 270  260.0   5  0.0833   8.33   11  0.1833   18.33
3       270 ⊢ 290  280.0   8  0.1333  13.33   19  0.3167   31.67
4       290 ⊢ 310  300.0  14  0.2333  23.33   33  0.5500   55.00
5       310 ⊢ 330  320.0  12  0.2000  20.00   45  0.7500   75.00
6       330 ⊢ 350  340.0  11  0.1833  18.33   56  0.9333   93.33
7       350 ⊢ 370  360.0   4  0.0667   6.67   60  1.0000  100.00